* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #ccc;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4em;
    grid-template-rows: minmax(100px, auto);
    padding: 20px;
}

.h1 {
    background: #025375;
}
.logo{
    justify-self: center;
    grid-column: 2/3;
    align-self: center;
    margin-top: 10px;
    
}
.sec1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 50px;
    grid-column-gap: 2em;
    margin-right: 2em;
}

.aside1 {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr;
    background-color: #ccc;
    grid-auto-rows: minmax(250px, auto);
    grid-row-gap: 1em;
}

.content1 {
    display: grid;
    padding: 20px;
    background-color: #ccc;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    grid-template-rows: 150px;
}
.sec1_content5{
    grid-column: 1/3;
}
.sec1_content6{
    grid-column: 3/5;
}
.sec1_content7{
    grid-column: 2/4;
}
.sec2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    grid-column-gap: 2em;
     grid-template-rows: 250px;
    
}
.content21{
    background-color: #ccc;
}
.content22{
    background-color: #ccc;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    grid-template-rows: 100px;
}
.content23{
    background-color: #ccc;
    padding: 20px;
}
.sec3{
      display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 50px;
    grid-column-gap: 2em;
     grid-template-rows: 450px;
    margin-left: 2em;
}
.aside3{
    background-color: #ccc;
}
.content3{
    background-color: #ccc;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 410px;
    padding: 20px;
    grid-column-gap: 2em;
}
.sec4{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    grid-auto-rows: minmax(200px, auto);
}
.cont41{
    background-color: #ccc;
    
}
.cont42{
    background-color: #ccc;
   grid-column: 2/3;
    grid-row: 1 / 3;
     
}
.cont43{
    background-color: #ccc;
     
}

.footer{
    display: grid;
    background: #ccc; 
    grid-template-rows: 300px;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
 
    
}
.foot-div{
    justify-self: center;
    align-self: center;
}